html
  body
    style.
      #particles-js {
        background: blue;
      }
    div#particles-js
    script(src="js/particles.min.js")
    script.
      particlesJS.load('particles-js', 'js/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
