
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet', crossorigin="anonymous")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='css/profile.css')
h1
  | GitSocial 
  small A social network for programmers.
header
  figure.profile-banner
    img(src='https://unsplash.it/975/300', alt='Profile banner')
  figure.profile-picture(style="background-image: url('img/GreyScaled.png')")
  .profile-stats
    ul
      li
        | 13    
        span Projects
      li
        | 1,354 
        span Commits
      li
        | 32    
        span Following
      li
        | 324   
        span Followers
    a.follow(href='javascript:void(0);')
      | Follow Ty
  h1
    | Ty Connors 
    small Network Engineer

.container
  .col-6.words
    .intro-section
      h1 Ty Connors 
      h4 Network Engineer & Operations
    .now-section
      h3 A. RIGHT NOW
      ul
        li
          | Building, Architecting, & Shaping games 
          br
          | and applications at 
          a(href='https://www.techdrone.us' target='blank') Techdrone.
    .previous-section
      h3 B. PREVIOUSLY
      ul
        li
          | Software Engineer at 
          a(href='https://www.ccicustom.com') Custom Communications
        li
          | Freelancer at 
          a(href='http://tyconnors.com') TyConnors.com
        li
          | QA Engineer at 
          a(href='http://www.fujifilm.com/') Fujifilm
    .links-section
      h3 C. LINKS
      ul
        .social-icons
          a(href='https://www.github.com/tconn89' target='blank')
            i.fa.fa-github
          a(href='https://twitter.com/neuronSwarm' target='blank')
            i.fa.fa-twitter
          a(href='https://www.linkedin.com/in/tconn89' target='blank')
            i.fa.fa-linkedin
          a(href='https://www.facebook.com/tconn89' target='blank')
            i.fa.fa-facebook
          a(href='mailto:tconn89@gmail.com' target='blank')
            i.fa.fa-envelope(aria-hidden='true')

