
link(rel='stylesheet', href='css/profile.css')
h1
  | GitSocial 
  small A social network for programmers.
header
  figure.profile-banner
    img(src='https://unsplash.it/975/300', alt='Profile banner')
  figure.profile-picture(style="background-image: url('img/GreyScaled.png')")
  .profile-stats
    ul
      li
        | 13    
        span Projects
      li
        | 1,354 
        span Commits
      li
        | 32    
        span Following
      li
        | 324   
        span Followers
    a.follow(href='javascript:void(0);')
      | Follow Nick
  h1
    | Ty Connors 
    small Network Engineer
