
doctype html
meta(charset='utf-8')
canvas(width='960', height='500')
script(src='//d3js.org/d3-voronoi.v1.min.js')
script(src='//d3js.org/d3-timer.v1.min.js')
script(src='//d3js.org/topojson.v1.min.js')
script(src='/js/d3-voronoi-local.js')

// https://gist.github.com/mbostock/cd52a201d7694eb9d890