body {
  color: white;
}
.tool-explain {
  position: absolute;
  top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
.save-container {
  position: absolute;
  top: 100px;
}
#canvas {
  background: #222;
  position: absolute;
  top: 0;
  left: 0;
}
.undo-arrow {
  position:absolute;
  top: 16%;
  left: 20%;
  font-size: 48px;
  color: white;
  z-index: 11;
  display: none;
}
button.undo {
  background: rgba(0,0,0,0);
  color: white;
  border: none;
}
button.undo:active i{
  color: #3e653e;
}
button.undo:active, button.undo:focus {
  color: #208875;
  border: 0;
  outline: none;
}
.undo-arrow.big-icon {
  font-size: 48px;
  color: white
}
.save{
  position: absolute;
  top: 55px;
  left: 10px;
  width: 60px;
  height: 30px;
}

.UIbtn {
  color: white;
  z-index: 1;
  border-width: 0;
  background: url('../img/UI/button_normal.png');
  background-size: 60px 30px;
  z-index: 10;
}
.UIbtn:hover{
  background: url('../img/UI/button_hover.png');
  background-size: 60px 30px;
  z-index: 10;
}
.UIbtn:active, .UIbtn:focus {
  outline:0;
}

#tmpCanvas {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#crosshairCanvas {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgrey;
}
.canvas_name {

  border-radius: 8px;
  background: url('../img/UI/input1.png');
  background-size: 165px 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 165px;
  height: 40px;
  padding-top: 4px;
  padding-left: 15px;
  z-index:100;
}
input[name=canvas_name]:active, input[name=canvas_name]:focus {
  border-width: none;
  outline:0;
}
input[name=canvas_name]{
  background: rgba(0,0,0,0);
  width: 165px;
  height: 30px;
  border-width: 0;
  z-index: 100;
  color: white;
}
.onsave-msg{
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 1;
  color: white;
  display: none;
}
.load{
  position: absolute;
  top: 90px;
  left: 10px;
  width: 60px;
  height: 30px;
  z-index: 10;
}
.load_menu{
  margin: 20px;
  overflow-y:scroll;
  height: 600px;
  width: 150px;
  z-index: 10;
}
.instructions {
  display: none;
  position: absolute;
  bottom: 33%;
  left: 10px;
  width: 60px;
  height: 30px;
  z-index: 10;
  color: white;
}
.instructions li {
  color: white;
  width: 180px;
  list-style: decimal;
}
.menu {
  display: none;
  position: absolute;
  top: 35%;
  left: 10px;
  width: 60px;
  height: 30px;
  z-index: 10;

}
#left-panel {
  position:absolute;
  top: 0;
  left: 0;
  width: 201px;
  /* height determined by javascript setLeftPanel */
  border-right: 1px #4eafad solid;
  box-shadow: 2px 2px 5px #4eafad;
  z-index: 3;
  background: #222;
}
.toolbar-container {
  position:absolute;
  top: 0 ;
  z-index: 10;
}
.toolbar-container ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: 0px 2px 5px #4eafad;
}
.tool {
  width: 50px;
  height: 50px;
  display: inline-block;
  z-index: 10;
}
.tool .bg {
  border: 1px #4eafad solid;
}
.tool:hover .bg {
  background: rgba(22,33,22,0.5); 
}
.collapser:hover .bg {
  background: rgba(22,33,22,0.5); 
}
.tool.disk {
  background: url('../img/UI/disk.png');
  background-position: 0 30%;
  background-size: 100% 80%;
  background-repeat: no-repeat;
}
.tool.undo {
  background: url('../img/UI/undo.png');
  background-size: 100% 100%
}
.tool.redo {
  background: url('../img/UI/redo.png');
  background-size: 100% 100%
}
.tool.color {
  background: url('../img/UI/color_tomato.png');
  background-size: 100% 100%
}
.collapser {
  padding: 5px;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.collapser.left {
  position: absolute;
  top: 50%;
  right: 0;
}
.collapser.right {
  position: absolute;
  top: 50%;
  left: 0;
}

.collapser .inner {
  width: 100%;
  height: 100%;
}
.left.collapser .inner {
  background: url('../img/UI/left_arrow.png');
  background-size: 100% 100%;
}
.right.collapser .inner {
  background: url('../img/UI/right_arrow.png');
  background-size: 100% 100%;
}
.bg {
  display: block;
  width: 100%;
  height: 100%;
}

.loadable{
  z-index: 10;
}
.coordinate-log {
  position: absolute;
  top: 50px;
  right: 250px;
  color: white;
  z-index: 10;
}
.canvas_indices{
  border-width: 0;
  color: white;
  background: url('../img/UI/button_normal.png');
  background-size: 90px 40px;
  width: 90px;
  height: 40px;
}
.canvas_indices:hover{
  border-width: 0;
  color: white;
  background: url('../img/UI/button_hover.png');
  background-size: 90px 40px;
  width: 90px;
  height: 40px;
  z-index: 10
}
.canvas_indices:active, .canvas_indices:focus{
  border-width: 0;
  border-style: none;
  outline:0;
  background: url('../img/UI/button_active.png');
  background-size: 90px 40px;
}
.title {
  position: relative;
  white-space:nowrap;
  z-index: 15;
}
.title-panel {
  position: relative;
  background: url('../img/titleBG1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 80px;
  z-index: 11;
  text-align: center;
  display: inline-block; 

}
.viewers {
  display: none;
  position: absolute;
  right: 10px;
  top: 120px;
  width: 12%;
  z-index: 1;
  border-left: 2px solid #fff;
}
.viewers ul {
  list-style: none;
}
.viewers h3 {
  text-align: center;
}