link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel='stylesheet', crossorigin="anonymous")
link(href="css/OnTour/style.css", rel='stylesheet')

p ⬇ Grid lines are the horizontal and vertical dividing lines of the grid.
main
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 1
    p
      strong Hell in a Bucket 
      |  Pay $500, discard 2 cards, roll again and move backwards. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/odesza_qr.jpg')
  div(data-grid='grid-cell')
    | 2
    p
      strong Mr. Fantasy
      |  Move to any space within 12 spaces forward or backward. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 3
    p
      strong Sunshine Daydream
      |  Collect $1000, make player of your choice give you 2 cards and roll again.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 4
    p
      strong Crosstown Traffic
      |  Every player puts 2 cards face down, then trade one left and one right
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 5
    p
      strong Paint it Black
      |  Every player discards 2 cards even you.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 6
    p
      strong Across the Universe
      | Move to any space on the board even the stage. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 7
    p
      strong Wish You Were Here
      |  Every player moves to the same space you are on, no one draws a Twist of Fate card and you roll again. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 8
    p
      strong Sabotage
      |  Make player of your choice discard 3 cards. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 9
    p
      strong If Six Was Nine
      |  Roll again sixes count as nine. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 10
    p
      strong Sympathy for the Devil
      |  Blind Draw 2 cards from player of your choice and roll again.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 11
    p
      strong Crossroads
      |  Move to first fork in the road, roll again and move either way.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 12
    p
      strong You Can’t Always Get What You Want
      |  Pay $1000 and draw 3 cards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 13
    p
      strong Helter Skelter
      |  Collect $500, Discard 3 cards, Draw 3 cards, then player to your right blind draws 2 cards from your hand. 
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 14
    p
      strong Bounce Around the Room
      |  Move to any space within 10 spaces forwards or backwards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 15
    p
      strong Comfortably Numb
      |  Every player pays you $500 and you lose your next turn.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 16
    p
      strong Makes Sense to Me
      |  Collect $500 and every player gives you 2 cards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 17
    p
      strong Day Tripper
      |  Roll again and move forward or backward.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 18
    p
      strong Cosmik Debris
      |  The player to your right blind draws 3 cards from your hand, then you draw 4 cards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 19
    p
      strong The Magic Bus
      |  Move to any space with 10 spaces forward or backwards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 20
    p
      strong Bears Gone Fishin’
      |  Blind draw 1 card from every players hand.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div(data-grid='grid-cell')
    | 21
    p
      strong Each and Every Direction
      |  Every player trades 1 card with you one at a time.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')
  div.blank(data-grid='grid-cell')
  div(data-grid='grid-cell')
    | 22
    p
      strong Weight of the world
      |  Pay $500 and discard all your cards.
    span.button-container
      button(class="effect effect-5" title="Show QR") Show QR
    span.qr-container
      img.qr(title='image title', alt='thumb image', src='/img/fantasy_qr.png')

  script(src='https://code.jquery.com/jquery-3.2.1.min.js'
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
        crossorigin='anonymous')
  script.
    $('document').ready(function(){
      $('button').click(function(e){
        e.preventDefault();
        $(this).parents('div').find('img').toggle();
      })
    })

